@{
    ViewData["Title"] = "Categoría en uso";
}
<h1 class="alert-danger">El tipo Cuenta que desea borrar esta siendo usado, Primero debe eliminar las transacciones relacionadas con ella.</h1>

<a asp-action="Index" asp-controller="Transacciones">Clikea aquí para regresar al HOME.</a>
