@{
    ViewData["Title"] = "Categoría en uso";
}
<body>
    <h1 class="alert-danger">La categoría que desea borrar esta siendo usada, Primero debe eliminar las transacciones relacionadas con ella.</h1>

    <a asp-action="Index" asp-controller="Transacciones">Clikea aquí para regresar al HOME.</a>

</body>

