@model Categoria
@{
    ViewData["Title"] = "Borrar Categoría";

}
<h3 class="mb-3">¿Esta seguro de que desea borrar la categoría?</h3>

<form id="BorrarCategoriaForm" asp-action="BorrarCategoria">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit" >Borrar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>



 <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
       <div id="borrarToast" class="toast">
            <div class="toast-header">
                <strong class="me-auto">Información borrada</strong>
                <small>La categoria se ha borrado</small>
                <button class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">La categoria se ha borrado</div>
        </div>
 </div>

