
@{
    ViewData["Title"] = "No encontrado";
}
<h1 class="alert-danger">El recurso solicitado no ha sido encontrado </h1>

<a asp-action="Index" asp-controller="Transacciones">Clikea aquí para regresar al HOME.</a>